<h1>Eat Da Burger</h1>


<ul>
  {{#each tasks}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Task: {{this.task}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
	<p>Enter a burger you want to eat Click the "Submit" button</p>
</form>